version: "3.8"

services:
  coordinator:
    build: .
    container_name: coordinator
    hostname: coordinator
    command: python coordinator.py
    networks:
      - mapreduce-net
    environment:
      - NUM_WORKERS=3
      - PYTHONUNBUFFERED=1
    ports:
      - "18860:18860"
    volumes:
      - ./txt:/app/txt

  worker-1:
    build: .
    container_name: worker-1
    hostname: worker-1
    command: python worker.py
    networks:
      - mapreduce-net
    environment:
      - COORDINATOR_HOST=coordinator
      - PYTHONUNBUFFERED=1
    volumes:
      - ./txt:/app/txt
    depends_on:
      - coordinator

  worker-2:
    build: .
    container_name: worker-2
    hostname: worker-2
    command: python worker.py
    networks:
      - mapreduce-net
    environment:
      - COORDINATOR_HOST=coordinator
      - PYTHONUNBUFFERED=1
    volumes:
      - ./txt:/app/txt
    depends_on:
      - coordinator

  worker-3:
    build: .
    container_name: worker-3
    hostname: worker-3
    command: python worker.py
    networks:
      - mapreduce-net
    environment:
      - COORDINATOR_HOST=coordinator
      - PYTHONUNBUFFERED=1
    volumes:
      - ./txt:/app/txt
    depends_on:
      - coordinator

networks:
  mapreduce-net:
    driver: bridge